{:paths ["src"]

 :deps {bbyaga/bbyaga                       {:local/root "../bbyaga"}
        clojure-ini/clojure-ini             {:mvn/version "0.0.2"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}}

 :tasks
 {ord {:doc  "organize things"
       :task ordinare.cli/-main}

  outdated bbyaga.tasks/antq
  nrepl    bbyaga.tasks/nrepl
  wrap     bbyaga.tasks/wrap}

 :aliases {:test
           {:extra-paths ["test"]}}}
